<manifest package="com.tencent.soter.core"
    xmlns:android="http://schemas.android.com/apk/res/android">
    <uses-permission android:name="com.soter.permission.ACCESS_SOTER_KEYSTORE" />
    <uses-permission android:name="android.permission.USE_FACERECOGNITION" />
    <application>
        <uses-library
            android:name="soterkeystore"
            android:required="false" />
    </application>

    <!--<application-->
        <!--android:allowBackup="true"-->
        <!--android:label="@string/app_name"-->
        <!--android:supportsRtl="true"-->
        <!--&gt;-->

    <!--</application>-->

</manifest>
